.modal__button-container {
    padding-top: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal__button-container_inner {
    margin: auto;
    display: flex;
}

.modal__button_margin-right {
    margin-right: 16px
}