@import '../../shared/styles';

.rooms-list {
    padding: 16px 25px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    box-shadow: inset -1px 0 0 0 #e9ecef;
    align-items: left;
}

.floor {
    padding-top: 20px;
}

.floor__number {
    @extend %font-bold;
    font-size: 11px;
    color: $label-faded;
    margin-bottom: 8px;
}

.floor__room-capacity {
    @extend %font-regular;
    margin-bottom: 16px;
    font-size: 13px;
    color: black;
}

.floor__room-capacity_faded {
    @extend %font-regular;
    margin-bottom: 16px;
    font-size: 13px;
    color: $label-faded;
}

.floor__room-title {
    @extend %font-medium;
    font-size: 15px;
    color: black;
    margin-bottom: 2px;
}

.floor__room-title_faded {
    @extend %font-medium;
    font-size: 15px;
    color: $label-faded;
    margin-bottom: 2px;
}

.floor__room-title_hovered {
    @extend %font-medium;
    font-size: 15px;
    color: $accept-normal;
    margin-bottom: 2px;
}