@import '../../shared/styles';

.rooms-list {
    padding: 16px 25px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    box-shadow: inset -1px 0 0 0 #e9ecef;
    align-items: left;
}

.floor {
    padding-top: 20px;
}

.floor__number {
    font-family: 'HelveticaNeueBold', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: $label-faded;
    margin-bottom: 8px;
}

.floor__room-capacity {
    margin-bottom: 16px;
    font-size: 13px;
    color: black;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.floor__room-title {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: black;
    margin-bottom: 2px;
}