@import '../../shared/styles';

.calendar {
    min-height: 46px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 0 0 #e9ecef;
}

.calendar__icon-wrapper {
    display: flex;
    user-select: none;
    align-items: center;
    background-color: $faded;
    border-radius: 100px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    &:hover .calendar__icon {
        opacity: 1;
    }
}

.calendar__icon {
    display: flex;
    margin: auto;
    opacity: 0.7;
}

.calendar__content {
    display: flex;
    margin: auto;
    align-items: center;
}

.calendar__current-date-text {
    @extend %font-bold;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: auto;
    min-height: 35px;
}

.calendar__hidden-instance {
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

.calendar__current-date-container {
    display: flex;
    min-width: 130px;
}