@font-face {
	font-family: "HelveticaNeue";
    src: url("../../shared/fonts/HelveticaNeueCyr-Roman.otf");
}

@font-face {
	font-family: "HelveticaNeueBold";
    src: url("../../shared/fonts/HelveticaNeueCyr-Bold.otf");
}

$main: #15ffe0;