.modal__button-container_swap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal__text_swap {
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    padding: 0 25px;
}