@import '../../shared/styles';

* {
  margin: 0;
  padding: 0;
  border: 0;
  padding: 0;
  outline: 0;
  background-color: transparent;
}

body, #app, main, html {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
}

.row_align-top {
  display: flex;
  align-items: top;
  width: 100%;
}

.row_align-end {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

hr {
  display: none;
}