@import '../../shared/styles';

.workplace {
    display: flex;
    flex: 1 0 auto;
    box-shadow: 0 -1px 0 0 $faded;
}

.workplace__left-column {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    min-width: 245px;
    max-width: 245px;
}

.workplace__right-column {
    display: flex;
    flex: 1 0 auto;
    background-color: #f6f7f9;

    &::-webkit-scrollbar {
        height: 16px;
        padding: 0 5px;
    }

    &::-webkit-scrollbar-track-piece  {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb:horizontal {
        border: 4px solid #fff;    
        background-color: #d5dfe9;
        border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
        background: #000; 
    }
}