@import '../../shared/styles';

.select-scroll {
    max-height: 136px;
    width: 420px;
    box-shadow: 0 1px 10px 0 rgba(0,44,92,0.28);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    cursor: default;

    &::-webkit-scrollbar {
        width:16px;
        padding: 0 5px;
        margin-right: 5px;
    }

    &::-webkit-scrollbar-track-piece  {
        background-color: white;
    }

    &::-webkit-scrollbar-thumb:vertical {
        height: 40px;
        border: 4px solid #fff;    
        background-color: #d5dfe9;
        border-radius: 100px;
    }
}

.select-scroll__member-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 34px;
    &:hover {
        background-color: #f6f7f9;
    }
    &:hover .select-scroll__login {
        @extend %font-medium;
    }
    &:hover .select-scroll__floor {
        @extend %font-medium;
    }
    &:focus {
        background-color: #f6f7f9;
    }
    &:focus .select-scroll__login {
        @extend %font-medium;
    }
    &:focus .select-scroll__floor {
        @extend %font-medium;
    }
}

.select-scroll__none {
    @extend %font-regular;
    font-size: 13px;
    margin-right: 5px;
}

.select-scroll__avatar {
    width: 24px;
    margin: 0 8px 0 16px;
    height: 24px;
    object-fit: cover;
    border-radius: 16px;
}

.select-scroll__login {
    @extend %font-regular;
    font-size: 13px;
    margin-right: 5px;
}

.select-scroll__floor {
    @extend %font-regular;
    font-size: 13px;
    color: #858e98;
}

@media all and (max-width: 750px) {
    .select-scroll {
        width: 100%;
    }
}