@import '../../shared/styles';

.selected-room {
    display: flex;
    flex-direction: column;
}

.selected-room__label {
    @extend %font-bold;
    font-size: 13px;
    margin-bottom: 5px;
}

.selected-room__tile {
    display: flex;
    height: 37px;
    width: 420px;
    color: white;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    background-color: $accept-normal;;
    cursor: default;
    transition: 300ms cubic-bezier(0.03, 0.63, 0.24, 1.01);
}

.selected-room__time {
    @extend %font-bold;
    display: flex;
    font-size: 13px;
    margin-left: 10px;
}

.selected-room__name-floor {
    @extend %font-regular;
    display: flex;
    margin-left: 16px;
    font-size: 13px;
}

.selected-room__close-icon-wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 37px;
    cursor: pointer;
}

@media all and (max-width: 750px) {
    .selected-room {
        padding: 16px;
    }

    .selected-room__tile {
        width: initial;
        height: 44px;
    }
}